<%- include('header') %> 
<ul>
  <% quotes.forEach(function(quote) { %>
    <li class="<%= quote.category %>">
      <strong><%= quote.name %></strong>
      said: <%= quote.quote %>
      <a href="/update/<%= quote._id %>">edit</a> 
      <a href="/delete/<%= quote._id %>">delete</a> 
    </li>
  <% }); %>
</ul>
<%- include('footer') %>